@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

:root {
  --white: #fefcfd;
  --colombiaBlue: #bfcde0;
  --ultraViolet: #5d5d81;
  --spaceCadet: #3b3355;
  --black: #000505;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "News Cycle", sans-serif;
  background-color: var(--white);
  color: var(--spaceCadet);
}
